{% extends "base.html.twig" %}


{% block metatitle %} Catégories
{% endblock metatitle %}

{% block content %}

<h1>List Categories</h1>

<div>

    {% for categorie in categories %}
        <p> {{ categorie }} </p>
    {% endfor %}

</div>

{% endblock %}