
{% extends "base.html.twig" %}


{% block metatitle %} Pokemons List
{% endblock metatitle %}


{% block content %}

    <h1>List Articles</h1>

    <div id="pokemons">

        {% for pokemon in pokemons %}

            {% if pokemon.isPublished %}

            <article class="articlePokemon">

                <h2> {{ pokemon.title }} </h2>
                <p> {{ pokemon.content }} </p>
                <a href=" {{ path('show_pokemon') }}?id={{ pokemon.id }}"> Voir le pokemon </a>

            </article>

            {% endif %}

        {% endfor %}

    </div>

{% endblock content %}