{% extends "base.html.twig" %}

{% block metatitle %} Welcome
{% endblock metatitle %}

{% block content %}

    <main>
        <h2>You shall not pass...</h2>

        <div id="gandalf">
            <img src="{{ asset('img/You_Shall_Not_Pass!_0-1_screenshot.jpg') }}">
        </div>

    </main>

{% endblock %}