{% extends 'base.html.twig' %}

{% block metatitle %}  Formulaire
{% endblock metatitle %}

{% block content %}
<form method="get">

    <label> Quel âge avez-vous ?
        <input type="number" name="age">
    </label>

    <input type="submit">

</form>

{% endblock content %}