{% extends 'base.html.twig' %}


{% block metatitle %} Show Pokemon
{% endblock %}


{% block content %}

    {%  if pokemon and pokemon.isPublished %}
        <h2> {{ pokemon.title }} </h2>
        <p> {{ pokemon.content }} </p>
    {% else %}
        <p> Pokemon non trouvé </p>
    {% endif %}

{% endblock %}