body {
    background-color: #faead0;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

/* --------------- Général --------------- */
img {
    width: 100%;
}

h1 {
    text-align: center;
    margin: 2% 0;
    color: rgb(40, 70, 236);
    text-transform: uppercase;
}


h2 {
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    /* color : rgb(40, 70, 236); */
    color: blue;
    font-size: 16px;
}



/* --------------- HEADER --------------- */
header {
    /* background-color: rgb(145, 154, 208); */
    background-image: url('../img/poke-unsplash.jpg');
    background-size: cover;
    background-color: rgba(255, 213, 88, 0.6);
    background-position: right 50% top 60%;
    height: 50vh;
    color: rgb(40, 70, 236);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6%;
    padding: 1%;
}

/* ------ LIST - UL - LI ------ */

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li {
    text-decoration: none;
    padding: 5px 20px;
    /* color: blanchedalmond; */
}

a {
    text-decoration: none;
    /* color: rgb(40, 70, 236); */
    color: #AD2213;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}





/* --------------- MAIN --------------- */

main {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}


/* --------------- Pokemons --------------- */

#pokemons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articlePokemon {
    width: 18%;
    padding-bottom: 20px;
    margin: 10px 0;
    background-color: #8993c7;
    border-radius: 20px;

    &&:hover {
        background-color: #B0413E;
    }
}


#gandalf {
    width: 50%;
    margin: auto;
}




/* --------------- FOOTER --------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(232, 204, 121); */
    background-color: rgb(255, 213, 88);

    /* position: fixed;
    bottom: 0; */

    p {
        color: rgb(40, 70, 236);
    }
}

.logoFooter {
    width: 3%;
    padding: 1%;

    img {
        color: rgba(43, 178, 212, 0.684);
    }
}